# Coding parameters
SOURCEKIND = WAVEFORM
SOURCEFORMAT = WAVE
SOURCERATE = 625.0
TARGETKIND = PLP_0_D_A_Z
WINDOWSIZE = 250000.0
TARGETRATE = 100000.0
SAVECOMPRESSED = T
NUMCEPS = 12
USEHAMMING = T
ZMEANSOURCE = T
PREEMCOEF = 0.97
NUMCHANS = 20
LPCORDER = 12 
USEPOWER = T