librispeech_alignments/**
__pycache__/**
scripts/__pycache__/**
*/__pycache__/**
scripts/synth_audio/**
.vscode/**
audio_recordings/edAnalysis/**
audio_recordings/**
file_selection/**
lexicon/**
upload_files/**
inputs/**
scripts/synth_audio/**
synth_audio/**
synth_audio\ -\ Copie/**
performance_results/**
dl_models/**
results/**
CMU_ARCTIC/**
data/librispeech_alignments/**
data/LibriSpeech/**
data/MLS/**
data/CMU_ARCTIC/**
data/speechocean762/**
data/flwc-recordings/**
data/BE_english_audio_DB/**
data/BE_english_DB_audio_old/**
data/new_content_audio/**
data/scaleway-audio-files/**
data/**
syllabipy/__pycache__/**
server/__pycache__/**
.*/**
pretrained_models/**
bin/**
utils/__pycache__/**
nltk_data/**
non_v2/**
*.png
*.csv*
*.txt
# *.p
Documents/**
.streamlit/**
*.pkl
*.bash
# *.onnx
# models/**
content_tools/uploaded/**
content_tools/st_audiorec/**
content_tools/streamlit_audio_recorder/**
content_tools/exercise_generation/__pycache__/**
content_tools/*.json
content_tools/*.zip
content_tools/6_extract_subtitles.py
cronjobs/**
mfa_data/**
mfa_result/**
.gitconfig
.bash_history
content_tools/marie_pre_test/**
scripts/*.json
results_marie_pretest/**
content_tools/*.xlsx
v2_old/**