matplotlib
librosa
pandas
textgrid
openpyxl
pyworld
scipy
pytest
cmudict
audiotsm
pytsmod
flask
tqdm
gunicorn
seaborn
ordered_set
g2p_en
flask-restful
flask-apispec
# torch
pyyaml
speechbrain
# transformers==4.6.1
# s3prl
newrelic